@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

footer {
    font-size: 18px;
    color: #E5E7EB;
}

#secone, #secfive {
    background: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
}

.minicontain {
    width: 60%;
}

/* Section One Styling */

.banner {
    display: flex;
    justify-content: space-between;
}

.hlogo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.hlinks {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 18px;
    color: #E5E7EB;
}

.hsubsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0px;
}

.maintext, .mainimg {
    width: 40%;
    height: 200px;
}

.maintext {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

.maintext h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.maintext p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.maintext button {
    background: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 25px;
    border-radius: 10px;
}

.mainimg {
    display: flex;
    flex: 0 0 auto;
}

.mainimg img {
    width: 100%;
    height: 100%;
}

/* Section Two Styling */

#sectwo {
    margin-bottom: 75px;
}

#sectwo .minicontain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standout {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

#infoimages {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
}

.sectwoflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectwoflex p {
    width: 150px;
    text-align: center;
}

.sectwoimages {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 25px;
}

/* Section Three Styling */

#secthree {
    background-color: #E5E7EB;
}